@media screen and (min-width:620px) {
    .recipe_container{
        max-width: 500px !important;
    }
    .recipe_img{
        height: 300px;
    }
}

@media screen and (min-width:960px) {
    .recipe_container{
        max-width: 600px !important;
    }
    .recipe_img{
        height: 400px;
    }
}