@media screen and (min-width:855px){
    .grouppage_container{
       overflow: hidden ;
    }
    /* .grouppage_titlecard{
        position:fixed;
    } */
    .grouppage_scroll_div{
        overflow-y: scroll !important;
    }
}

/* hide scrollbar for chrome */


.grouppage_scroll_div::-webkit-scrollbar {
    display: none !important;
  }

.grouppage_container::-webkit-scrollbar {
    display: none !important;
  }

.grouppage_scroll_div {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }

  .grouppage_container{
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }